	<% if logged_in? %>	
  <% if @tags.any? %>
	<div id="tagFilter">
		<ul>
	    <% @tags.each do |tag| %>
	    <li><a href="/tag/<%= tag.text %>"><button type="button" class="btn btn-info">#<%= tag.text %></button></a></li>
	    <% end %>
	   </ul>
  </div>
  <% end %>
  <% if @links.any? %>
	<div id="content" class="well">
		<% @links.each do |link| %>
		<div class="thumbnail">
			<img class="thumb_image" src="http://images.shrinktheweb.com/xino.php?stwembed=1&stwxmax=200&stwymax=150&stwaccesskeyid=dae93d1acfe2563&stwurl=<%= link.url %>" />
			<div class="btn-toolbar">
        <div class="btn-group">
          <a href="<%= link.url %>" target="_blank" class="btn btn-default">
          	<span class="glyphicon glyphicon-circle-arrow-right"></span>
          </a>
          <a class="btn btn-default">
          	<span class="glyphicon glyphicon-edit"></span>
          </a>
          <a data-toggle="modal" data-url="/delete/<%= link.id %>" href="#delete_warning" class="btn btn-default delete_button">
          	<span class="glyphicon glyphicon-remove-sign"></span>
          </a>
        </div>
      </div>
      <% if !link.description.empty? || link.tags.count > 0 %>
			<div class="caption">		
				<% if !link.description.empty? %>
				<p><%= link.description %></p>
				<% end %>
				<% if !link.description.empty? && link.tags.count > 0 %>
				<div class="caption-spacer">
					<hr />
				</div>
				<% end %>
				<% if link.tags.count > 0 %>
				<p>
					<% link.tags.order("text").each_with_index do |tag, index| %>
						#<%= tag.text %><% if index < link.tags.length - 1 %>, <% end %>
					<% end %>
				</p>
				<% end %>
			</div>
			<% end %>
		</div>
		<% end %>
		<script>
			 $(document).ready(function(){
	        var $container = $('#content');
	        $container.imagesLoaded(function(){
	          $container.masonry({
	          	"isFitWidth": true
	          });
	        });
	      });
		</script>
	</div>
	<div class="modal fade" id="delete_warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
        	<h3>Are you sure?</h3>
        </div>
        <div class="modal-footer">
        	<input type="hidden" id="delete_url"/>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="delete_confirm">Delete Link</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
	<% else %>
		<div class="col-md-3 col-sm-2"></div>
		<div class="col-md-6 col-sm-8 col-xs-12" id="getting-started">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h2 class="panel-title">Looks like you need to get started!</h2>
			  </div>
			  <div class="panel-body">
			    <h4>Instructions:</h4>
			    <ol>
				    <li>Click the 'Add Link' button to save a link</li>
				    <li>Enter a fully qualified, valid URL</li>
				    <li>Give the link a description that is meaningful to you.</li>
				    <li>Give the link a tag if you like.  You will be able to filter by those tags later.</li>
				    <li>Click the add button and the link will now show up on your view!</ol>
			  </div>
			</div>
		</div>
		<div class="col-md-3 col-sm-2"></div>
	<% end %>
<% else %>
<div class="container">
	<div class="jumbotron">
    <h1>Welcome to Linky!</h1>
    <p>A fun little personal link manager.</p>
    <p><a href="/sign_in" class="btn btn-primary btn-lg">Sign in with Google+</a></p>
  </div>
</div>
<% end %>